@charset "UTF-8";

header {
	display: flex;
	width: 75%;
}

header div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	flex: 8;
}

.log {
	flex: 2;
}

.logo img {
	width: 150px;
}

.top-menu {
	display: flex;
	width: 75%;
}

.top-menu>div {
	width: 100%;
	height: 50px;
	font-size: 25px;
	background-color: navy;
	margin: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-menu a {
	text-decoration: none;
	color: white;
}